# home/.chezmoi.yaml.tmpl
encryption: age
age:
  identity: "{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
  recipient: "age1548mrmh00zlmd38c2xt37wu7zaszth4sgeyqfmljg55j0asj2evqgjp93f"


data:
  user:
    name: "Thomas Mecattaf"
    email: "thomas@mecattaf.dev"
  
  system:
    hostname: "{{ .chezmoi.hostname }}"
    os: "{{ .chezmoi.os }}"

  tailscale:
    hostname: "blueprint"
    tag: "tag:blueprint"
    tailnet: "tail8dd1.ts.net"
    full_hostname: "blueprint.tail8dd1.ts.net"
    oauth_client_id: "kfzCmKEfc821CNTRL"
    oauth_client_secret: "tskey-api-REPLACE_WITH_ACTUAL_SECRET_HERE"
