[Unit]
Description=PostgreSQL for Immich
After=network-online.target immich-network.service
Requires=immich-network.service

[Container]
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0
ContainerName=immich-postgres
AutoUpdate=registry
Network=systemd-immich
Volume=immich-pgdata:/var/lib/postgresql/data:Z
Environment=POSTGRES_USER=immich
Environment=POSTGRES_DB=immich
Environment=POSTGRES_PASSWORD=changeme
Environment=POSTGRES_INITDB_ARGS=--data-checksums
PodmanArgs=--shm-size=128m

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
