[Unit]
Description=Immich Photo Server
After=network-online.target mnt-nas.automount immich-postgres.service immich-redis.service
Requires=mnt-nas.automount immich-postgres.service immich-redis.service
Wants=immich-ml.service

[Container]
Image=ghcr.io/immich-app/immich-server:release
ContainerName=immich-server
AutoUpdate=registry
Network=systemd-immich
PublishPort=2283:2283
Volume=immich-upload:/usr/src/app/upload:Z
Volume=/mnt/nas/photos:/mnt/photos:z
Environment=DB_HOSTNAME=immich-postgres
Environment=DB_USERNAME=immich
Environment=DB_DATABASE_NAME=immich
Environment=DB_PASSWORD=changeme
Environment=REDIS_HOSTNAME=immich-redis
Environment=REDIS_PORT=6379
Environment=IMMICH_MACHINE_LEARNING_URL=http://immich-ml:3003

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
