# Tailscale OAuth credentials
# Templated by chezmoi from encrypted .chezmoi.yaml.tmpl
# This file is sourced by justfile recipes

TAILSCALE_OAUTH_CLIENT_ID="{{ .tailscale.oauth_client_id }}"
TAILSCALE_OAUTH_CLIENT_SECRET="{{ .tailscale.oauth_client_secret }}"
