[Unit]
Description=Scroll Wayland Session Target
Documentation=man:systemd.special(7)
BindsTo=graphical-session.target
After=graphical-session.target
Wants=gnome-keyring.service
Wants=polkit-agents.service
Wants=wl-gammarelay.service
Wants=kanshi.service
Wants=swaybg.service
Wants=cliphist-text.service
Wants=cliphist-image.service
Wants=gtk-settings.service
Wants=mako.service

[Install]
Alias=default-session.target
